.home {
	height: 100%;
	min-width: 1360px;
}

.middle {
	display: flex;
	flex-direction: row;
}

.right {
	flex: 1;
	overflow: hidden;
	padding: 16px 30px 0 30px;
	box-sizing: border-box;
	overflow-x: auto;
	min-width: 1160px;
	background: #f6f9fb;
}

.content {
	height: 100%;
	width: 100%;
}
